@font-face {
  font-family: "FuturaNew";
  src: url("../fonts/FuturaNewBold-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBold-Reg.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "FuturaNew";
  src: url("../fonts/FuturaNewBook-Reg.woff2") format("woff2"), url("../fonts/FuturaNewBook-Reg.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  display: swap;
}

@font-face {
  font-family: "SchoolBook";
  src: url("../fonts/SchoolBookCyrillic.woff2") format("woff2"), url("../fonts/SchoolBookCyrillic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
